* {
    color: #604242;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.35em;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(180deg, rgba(210, 160, 85, 0) 3.16%, #E2C599 75%);
    width: 1920px;
    height: auto;
    margin: 0 auto;
    overflow-x: hidden;
}

.delivery-info {
    box-sizing: border-box;
    margin: 58px 51px 0 91px;
}

.delivry-info-title {
    font-size: 53px;
    height: 187px;
    width: 700px;
}

.delivery-adresses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;    
    margin-bottom: 51px;
    width: 1738px;
}

.delivery-adresses p {
    font-size: 51px;
}

.delivery-zones {
    background: no-repeat url("../img/Delivery-zones-background.jpg");
    box-sizing: border-box;
    height: 277px;
    margin-bottom: 50px;
    padding: 18px 41px;
    width: 100%;
}

.delivery-zones p {
    font-size: 55px;
}

.delivery-zones-map {
    margin-bottom: 130px;
}

.contact-info-container {
    background: no-repeat url("../img/Contact-info-background.jpg");
    background-position-x: center;
    box-sizing: border-box;
    height: 703px;
    padding-top: 98px;
    width: 100%;
}

.contact-info-background {
    background: #EC9F67;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 414px;
    padding: 41px 109px 39px 203px;
    width: 100%;
}

.contact-info {
    background: #ffffff;
    color:#7b2424;
    height: 319px;
    width: 793px;
    margin-top: 14px;
}

.contact-info-title {
    align-items: center;
    font-family: 'Sahitya';
    font-size: 55px;
    display: flex;
    justify-content: center;
    height: 90px;
    letter-spacing: 0.1em;
    padding-top: 19px;
    width: 550px;
}

.contact-info-image {
    border: 33px solid #ffffff;
    border-bottom: none;
}

.contact-info-description {
    font-family: 'Qwigley';
    font-size: 75px;
    letter-spacing: 0.05em;
    text-align: center;
}