.page-header {
    box-sizing: border-box;
    width: 100%;
    background: #EC9F67;
    height: 120px;
    letter-spacing: 0.2em;
}

.page-header * {
    font-family: 'Shadows Into Light Two', cursive!important;
}

.page-navigation {
    box-sizing: border-box;
    color: #000000;
    display: grid;
    font-size: 30px;
    grid-template-columns: 80px 80px repeat(2, 1fr) 3fr repeat(3, 1fr);
    height: 100%;
    padding: 0 100px;
}

.page-navigation > a {
    color: #000000;
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
.instagram-link, .twitter-link {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.company-name {
    align-self: center;
    font-size: 48px;
    justify-self: center;
    text-transform: uppercase;
}

.search-button {
    border: none;
    background: none;
    outline: none;
}